.form__container {
    top: 0;
    z-index: 1;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}



.form {
    background-color: rgb(28, 25, 25);
    color: #fff;
    width: 93vw;
    max-width: 800px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
}

.form__tile {
    display: flex;
    align-items: center;
}

.form__title-title {
    width: 85%;
    height: max-content;
}

.form__title-title>h3 {
    text-align: center;
}


.form__title-x {
    width: 15%;
}

.form__title-x>h1 {
    text-align: center;
    cursor: pointer;
}



.form__datos {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.form__datos-foto {
    width: 40%;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 3vh;
   
}

.form__datos-foto>img {
    padding: 1px;
    width: 50%;
    border-radius: 50%;
    object-fit: cover;
}

.form__datos-foto>img {
    padding: 1px;
    width: 50%;
}

a > .img{
    padding: 1px;
    width: 50%;
    border-radius: 50%;
    object-fit: cover;
}

.form__datos-foto>h6 {
    background-color: #262785;
    padding: .8em;
    border-radius: 1em  ;
}

.form__datos-foto>p {
    padding: 3px;
    width: max-content;
}


.form__datos-datos {
    width: 60%;
    min-width: 199px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container__datos-datos {
    padding: 1em 1em 1em 0;
    margin: auto;

}

.form__item {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    padding: 4px 0 4px 0;
}

input{
    outline: 'none';
    border: none;
}

input::placeholder{
    color: rgb(209, 203, 203);
}

input:focus {
    outline: none;
}

 input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #555; /* Color del borde */
    background-color: rgb(140, 133, 133); /* Color del fondo del círculo */
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid rgb(255, 255, 255);
  }
  
  /* Estilo personalizado para el círculo cuando está marcado (seleccionado) */
  input[type="radio"]:checked {
    background-color: #0d0f62; /* Cambiar el color del fondo del círculo cuando está marcado */
   
  }

.form__item>input {
    width: 60%;
    min-width: 190px;
    opacity: 0.6;
    border-bottom: 3px solid rgb(85, 85, 238);
}








@media only screen and (max-width: 600px) {

    .form__datos {
        margin-top: 1em;
    }

    .form__datos-foto {
        width: 40%;

    }

    .form__datos-datos {
        width: 90vw;
        padding: 1em;
    }

    .container__datos-datos {
        padding: 0;
    }

}




/* .card__img_svg {
    width: 2em;
    height: 2em;
}

.form {
    border: 1px solid #ccca;
    padding: 20px;
    width: max-content;
    border-radius: 10px;
    background-color: white;
    transform: scale(1.25);
    max-width: 400px;
}

.form-container {
    top: 0;
    z-index: 1;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.label_description {
    resize: none;
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: none;
    background-color: rgb(223, 223, 223);
    height: 60px;
    width: 250px;
}

.form-none {
    display: none;
}

.form__item {
    display: flex;
    flex-direction: column;

}

.form__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.form_x {
    position: absolute;
    right: 1px;
    top: 1px;
    font-size: 20px;
    cursor: pointer;
    width: 28px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.form_x:hover {
    background-color: #0005;
    color: white;
}

.form_x:active {
    transform: scale(.85);
    transition: .4s;
}

.form__btn {
    display: block;
    width: min-content;
    padding: 8px 12px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 10px;
    background-color: darkslategrey;
    color: white;
}

.form__btn:active {
    transform: scale(0.85);
    transition: .4s;
}

input {
    border: none;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    padding-left: 8px;
}

input:focus {
    outline: none;
}

.form__title {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 1x;
    margin-right: 55px;
}

.card_open_form {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    background-color: darkblue;
    border: none;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 50px;
}

.open_form_simbol {
    width: max-content;
    padding-right: 6px;
}

.card_open_form:active {
    transform: scale(.85);
    transition: .3s;
}

.url_img_drive_platoFrom {
    color: rgb(50, 51, 137) !important;
    text-decoration: underline;
}

.url_img_drive_platoFrom:visited {
    color: rgb(50, 51, 137) !important;
    text-decoration: underline;
} */