.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../image/Fondo.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;

}


.nav_header_home {
    display: flex;
    justify-content: start;
    margin-top: 3px;
    width: 100%;
    background-color: rgba(240, 234, 234, 0.9);
    padding-left: 1em;
    height: max-content;
    margin-bottom: 3em;

}

.ul_header_home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    /* background-color: red; */
    width: 100%;
}

.li_header_home {
    color: rgb(4, 4, 4);
    width: max-content;
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 0 1em 0 1em;
    border-radius: 1em;
}

.li_header_home:hover {
    background-color: rgb(52, 89, 175);
    color: white !important;
}

.home__buscador {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5em;
}


.home__buscador>input {
    width: 300px;
    height: 40px;
    border-radius: 1em;
    background-color: rgba(128, 128, 128, 0.5);
    padding-left: 15px;
    font-size: 24px;
}

.home__buscador>input:focus {
    color: black;
    font-weight: 900;
    background-color: rgba(195, 187, 187, 0.6);
}

.container_pages {

    background-image: linear-gradient(to right, rgba(218, 183, 221, .5), rgba(39, 5, 61, .5));
    padding-bottom: 2em;

}

.container_categorias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px;
    grid-gap: 40px;
    padding-left: 4%;
    padding-right: 4%;
}

.container_page {
    padding-bottom: 5em;
    max-width: 2000px;
    margin: auto;
}



@media only screen and (max-width:1500px) {
    .container_categorias {
        grid-template-columns: repeat(3, 1fr);

    }

    .ul_header_home {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .nav_header_home {
        background-color: rgba(255, 255, 255, 0.9);
    }
}


@media only screen and (max-width:1020px) {
    .container_categorias {
        grid-template-columns: repeat(2, 1fr);

    }

    .nav_header_home {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .ul_header_home {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

   

}

@media only screen and (max-width:750px) {
    .container_categorias {
        grid-template-columns: repeat(1, 1fr);

    }

    .ul_header_home {
        display: flex;
        flex-direction: column;
    }

    .ul_header_home{
        .li_header_home {
            width: 250px;
            display: flex;
            justify-content: start;
         }
    }

    .contactanos_flotante{
        top: 85% !important;
        transform: translate(-12%, 60%) !important;
      }
}

.contactanos_flotante{
    position: fixed;
    top: 70%;
    right: 0;
    transform: translate(-50%, 60%);
    background-color: rgb(83, 155, 204);
    border-radius: 1em;
    padding: 1em;
    color: white;
    box-shadow: 8px 5px 8px rgb(73, 71, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }