 .AcercaDe {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../image/fondoAcercaDe.jpeg');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: -1;
}

.card {
  border: 4px solid #00BFFF;
  background-color: #448194;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
}

.card-body {
  padding: 15px;
  margin: 0 auto;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.title_acerca {
  color: aquamarine;
  text-shadow: #00BFFF;
}

.title_about {
  color: aqua;
}

.card-text {
  color: aqua;
}

@media only screen and (max-width: 1500px) {
  .card {
    width: 100%;
    max-width: 600px;
  }
}

@media only screen and (max-width: 1000px) {
  .card {
    width: 100%;
    max-width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  .card {
    margin-top: 50px;
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-body {
    padding: 15px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
  }

  .row .col-sm-3 {
    width: 50%; /* Cada columna ocupa la mitad del ancho en pantallas pequeñas */
    flex: none; /* Evita que las columnas se ajusten automáticamente */
    max-width: 50%; /* Ancho máximo de las columnas */
  }
} 

