
a{
    cursor: pointer;
}

@media only screen and (min-width: 769px) {
    .footer {
        background-color: #317079;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 90px;
        color: #fff;
    }

    .footer__section b{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .footer__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .footer__section a i {
        font-size: 40px; /* Puedes ajustar el tamaño según tu preferencia */
        transition: all 0.3s;
    }

    .footer__section a i:hover {
        transform: scale(1.2);
    }

    .footer__section b {
        /* background-color: blueviolet; */
        margin: auto;
    }

    .footer__section:nth-child(1) {
        /* background-color: aqua; */
        width: max-content;
        padding: 0 5px 0 7px;
        margin: auto;
    }

    .footer__section:nth-child(2) {
        /* background-color: red; */
        padding: 10px;
    }

    .footer__section:nth-child(2) >  b {
        /* background-color: blue; */
        width: 18px;
        text-align: center;
    }

    .footer__section:nth-child(3) {
        /* background-color: yellowgreen; */
        padding: 15px 0 15px 0;
    }

    .footer__section:nth-child(3)>b {
        width: 140px;
        text-align: center;
        /* background-color: rebeccapurple; */
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        display: grid;
        grid-template-rows: 90px 60px 70px ;
        background-color:#317079;
        color: #fff;
        /* width: 100vw; */
    }

    .footer__section a i {
        font-size: 30px; /* Puedes ajustar el tamaño según tu preferencia */
        transition: all 0.3s;
    }

    .footer__section a i:hover {
        transform: scale(1.2);
    }

    .footer__section b{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .footer__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 2px;
    }

    .footer__section:nth-child(1) {
        /* background-color: rgb(111, 170, 71); */
        
    }

    .footer__section:nth-child(1) > b {
        /* background-color: rgb(236, 243, 232); */
        display: block;
        /* width: 100vw; */
        text-align: center;
        margin-top: 20px;
    }
    
    .footer__section:nth-child(2) {
        /* background-color: red; */
        gap: 8px;
    }

    .footer__section:nth-child(2) > b{
        /* background-color: yellow; */
        width: 230px;
        text-align: center;
    }

    
    .footer__section:nth-child(3) {
        /* background-color: rgb(92, 43, 43); */
        gap: 8px;
    }

    .footer__section:nth-child(3) > b{
        /* background-color: yellow; */
        width: 230px;
        text-align: center;
    }

 
}